figcaption{
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
.info{
  width: 60%
}
.info2{
  width: 30%;
  height: 30%;
}
blockquote{
  font-size: 20px;
  color: red;
  font-style: italic;
  font-weight: bolder;
}
p{
  font-size: 12;
  font-family: 'Lato', sans-serif;
  font-weight:300;
}
.container-sm{
  align-items: center;
}
.outro{
  font-style: italic;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: red;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
}
.headline{
  font-size: 24px;
  font-style: italic;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  color: red;
  font-weight: bolder;
}
.info{
  display: block;
  margin-left: auto;
  margin-right: auto;}

.infotwo{
width: 58.1%;
display: block;
margin-left: auto;
margin-right: auto;}
}
.infothree{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
footer{
 width: 100%;
 background-color:black;
 text-align: center;
 color:red;
 font-weight: bolder;
}
.intro{
  font-size: 14px;
  font-style: italic;
  text-align: center;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}
