.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}
.container{
width: auto;
}
p{
  font-family: georgia, serif;
  line-height: 180%;
  padding-bottom:
}
footer{
  text-align: center;
 background-color:black;
 color: white;
}
.chapter{
  font-size: 2em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
