.header{
  font-family: georgia, arial, serif;
  color: #BB2533;
  font-style: italic;
  font-size: 50px;
  width: 900px
}
p{
font-family: helvetica, arial, sans-serif;
font-size: 12px;
width: 900px
}
blockquote{
  width: 900px;
  color:#BB2533;
  font-style: italic;
}
.subs{
  font-family:'Trebuchet MS' ,arial, sans-serif;
  color: #1F2742;
  font-weight: bold;
  font-size: 24px;
  width: 900px
}
.credit{
    font-family: helvetica, arial, sans-serif;
  font-size: 9px;
  font-style: italic;
  width:900px
}
figcaption{
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  width:900px
}
   /* Formatting of the entire webpage */
#wrapper{
  margin: auto;
	width: 50%;
}
.graphic{
  width:900px;
}
#byline{
  font-family: georgia, arial, serif;
  color: #1F2742;
  font-size: 26px;
  width: 900px;
}
.links{
  width: 900px
}
